body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    width: fit-content;
    margin: 0.5rem 0;
}

#link-hover-effects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link1 {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0.5rem -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#link1:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

#link2 {
    text-decoration: none;
    position: relative;
}
#link2::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 10px;
    z-index: -1;
    transition: all .3s ease-in-out;
}
#link2:hover::before {
    bottom: 0;
    height: 100%;
}

#link3 {
    text-decoration: none;
    background: 
        linear-gradient(
            to right,
            rgba(100,200,200,1),
            rgba(100,200,200,1)
        ),
        linear-gradient(
            to right,
            rgba(255,0,0,1),
            rgba(255,0,180,1),
            rgba(0,100,200,1)
        );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
#link3:hover {
    background-size: 0 3px, 100% 3px;
}

#link4 {
    position: relative;
    text-decoration: none;
}
#link4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
#link4:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#skew {
    text-decoration: none;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: #54b3d6;
    outline: 2px solid #54b3d6;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}
#skew:hover {
    color: #fff;
}
#skew::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;    /* Custom value specific to case */
    width: 0;
    height: 100%;
    background-color: #54b3d6;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
#skew:hover::before {
    width: 150%;
}